<!--404页面-->
{% extends "home_base.html" %}
{% block mainContent %}
	<div class="margintopfixed">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div>
						<img class="featurette-image img-responsive" src="/static/images/404.jpg" alt="Generic placeholder image" style="margin:0 auto;">
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}