{% extends "home_profilebase.html" %}
{% block subContent %}
  <!--个人发起求/约课页面-->
  <div class="container">
    <div class="margintoppagefixed">
      <div class="row">
        <div class="col-sm-8 blog-main">
          <h4>我要发布</h4>
          <hr/>
          <div class="blog-post">
            <div class="row">
              <div class="col-lg-12">
                <!--表单-->
                <form role="form" action="/course/new" method="POST"  enctype="multipart/form-data">
                  <div class="form-group">
                    <div class="form-group">
                      <label class="radio-inline">
                        <input type="radio" name="mode" id="inlineRadio1" value="0"> 我要约课
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="mode" id="inlineRadio2" value="1"> 我要求课
                      </label>
                    </div>
                    <label for="exampleInputName">课程名</label>
                    <input type="input" class="form-control" id="exampleInputName" placeholder=""  name="title">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputmajorin">课程简介</label>
                    <textarea class="form-control" rows="3"  placeholder="Your domain" name="info"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputCollege">时间</label>
                    <input type="input" class="form-control" id="exampleInputCollege" placeholder="College" name="time" value="">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputCollege">地点</label>
                    <input type="input" class="form-control" id="exampleInputCollege" placeholder="College" name="location" value="">
                  </div>
                  {{ form.csrf_token }}
                  {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    <ul class=flashes>
                      {% for message in messages %}
                        <li>{{ message }}</li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                {% endwith %}
                <button type="submit" class="btn btn-default">Submit</button>
              </form>
              <!--/.end-->
            </div>
            </div><!-- /.row -->
            </div><!-- /.blog-post -->
            </div><!-- /.blog-main -->
            <!--边栏先空着-->
            <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
              <div class="sidebar-module sidebar-module-inset">
              </div>
              </div><!-- /.blog-sidebar -->
              </div><!-- /.row -->
            </div>
          </div>
        {% endblock %}