<!--个人主页父模板页面-->
{% extends "home_base.html" %}
{% block mainContent %}
  <!--个人主页通用顶部栏-->
  <div class="container">
    <div class="pageavatar">
      <div class="container">
        <img class="home-page-img featurette-image img-responsive img-circle" src="{{ current_user.info.avatar }}" alt="Generic placeholder image" style="margin:0 auto;border:4px solid white;">
        <h2 style="color:white;">{{ current_user.info.realName }}</h2>
        <h5 style="color:white;">{{ current_user.info.about }}</h5>
        <a href="/account/profile"><img class="home-page-icon" src="/static/images/profile-revese.png"></a>
        <a href="/account/profile"><img class="home-page-icon" src="/static/images/preferencesicon-edit.png"></a>
        <a href="/account/profile"><img class="home-page-icon" src="/static/images/preferencesicon-reverse.png"></a>
        <div class="home-page-nav-block">
          <a href="/course/home/yue" class="home-page-nav" style="border-right:1px white solid;">
            <span {% if course_mode == 0 %}class="home-page-nav-active"{% endif %}>我的约课</span>
          </a>
          <a href="/course/home/qiu" class="home-page-nav" style="border-right:1px white solid;">
            <span {% if course_mode == 1 %}class="home-page-nav-active"{% endif %}>我的求课</span>
          </a>
          <a href="/course/new" class="home-page-nav">
            <span>我要发布</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <img src="/static/images/page-background2.jpg" style="position:relative;width:100%;">
  <!--/.end-->
  <!--主题内容-->
  {% block subContent%}
  {% endblock %}
{% endblock %}