<!--注册页面-->
{% extends "sign_base.html" %}
{% block signForm %}
<div class="container" style="position:absolute;left:9%;">
  <div class="ab">
    <div class="signcontainer">
      <a href="/"><img src="../static/images/logo.png"></a>
      <hr>
      <form class="form-signup" role="form" action="/account/signup" method="POST">
        <input type="input" class="form-control" placeholder="Username" name="username" required autofocus>
        <input type="password" class="form-control" placeholder="Password" name="password" required>
        <input type="password" class="form-control" placeholder="Password Validate" name="passvali" required>
        <input type="email" class="form-control" placeholder="Email" name="email" required>
        <input type="phone" class="form-control" placeholder="Phone" name="phone" required>
        {{ form.csrf_token }}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      <button class="btn btn-lg btn-primary btn-block" type="submit">点击注册</button>
    </form>
  </div>
</div>
</div>
{% endblock %}
<!-- /container -->
