<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/static/favicon.ico">

  <title>用户管理</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/css/dashboard.css" rel="stylesheet">

  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
  <script src="../static/js/ie-emulation-modes-warning.js"></script>
  <script src="../static/js/jquery-2.1.0.js"></script>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;&nbsp;爱上课&nbsp;&nbsp;Version-0.9</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/admin">Dashboard</a></li>
          <li><a href="/admin/settings">Settings</a></li>
          <li><a href="/admin/mail">Mail</a></li>
          <li><a href="/signout">Signout</a></li>
        </ul>
        <form class="navbar-form navbar-right" method="GET" action="/search">
          <input type="text" class="form-control" placeholder="Search..." name="keyword">
        </form>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li  class="active"><a href="#">用户管理</a></li>
          <li {% block active2 %}{% end %}><a href="#">约课管理</a></li>
          <li {% block active3 %}{% end %}><a href="#">求课管理</a></li>
          <li {% block active4 %}{% end %}><a href="#">公益课管理</a></li>
          <li {% block active4 %}{% end %}><a href="#">活动管理</a></li>
        </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
<div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Id</th>
                <th>Username</th>

                <th>Grade</th>
                <th>Domain</th>
                <th>Option</th>
              </tr>
            </thead>
            <tbody>
             
              <tr>
                <td>1</td>
                <td>王晨</td>

                <td>研一</td>
                <td>Design</td>
                <td><a href="#">删除</a></td>
              </tr>
            
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->

  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/docs.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="../static/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
