<!DOCTYPE html>
<html lang="en"
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../static/favicon.ico">

  <title>首页</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script>-->
  <script src="../static/js/ie-emulation-modes-warning.js"></script>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <!-- Custom styles for this template -->
  <link href="../static/css/carousel.css" rel="stylesheet">
  <link href="../static/css/style.css" rel="stylesheet">
</head>
<!-- NAVBAR
================================================== -->
<body>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">

      <nav class="" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="../static/images/logo.png" alt="logo"></a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="../templates/home_base.html">首页</a></li>
              <li><a href="../templates/home_yue_list.html">约课</a></li>
              <li><a href="../templates/home_qiu_list.html">求课</a></li>
              <li><a href="../templates/home_public_list.html">公益课</a></li>
              <li><a href="../templates/home_public_list.html">活动</a></li>

            </ul>
            <form class="navbar-form navbar-left" role="search" method="GET" action="/search">
              <div class="input-group" style="max-width:200px;">
            <input type="text" class="form-control" placeholder="Search for..." name="keyword">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit">Go!</button>
            </span>
          </div><!-- /input-group -->
      </form>
            <div class="navbar-form navbar-right">
              <a href="/account/login"><button type="button" class="btn btn-primary">Login</button></a>
              <a href="/account/signup"><button type="button" class="btn btn-success">Sign Up</button></a>
              <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav" style="margin:-8px 0;">
              <li class="dropdown active">

                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="" class="img-circle" style="height:40px;width:40px;margin:-10px 6px -10px -6px;">{{ current_user }}<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu" style="min-width:145px;">
                  <li><a href=""><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Homepage</a></li>
                  <li><a href="/signout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Sign Out</a></li>
                </ul>
              </li>
            </ul>
          </div>
            </div>
          </div>

        </div>
      </nav>

    </div>
  </div>


  <!-- Carousel
  ================================================== -->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <img src="../static/images/slide1.jpg" alt="First slide">
        <div class="container">
          <div class="carousel-caption">
            <h1>Example headline.</h1>
            <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
          </div>
        </div>
      </div>
      <div class="item">
        <img src="../static/images/slide1.jpg" alt="Second slide">
        <div class="container">
          <div class="carousel-caption">
            <h1>Another example headline.</h1>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="item">
        <img src="../static/images/slide1.jpg" alt="Third slide">
        <div class="container">
          <div class="carousel-caption">
            <h1>One more for good measure.</h1>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- /.carousel -->


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img class="img-circle" src="../static/images/1.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
        <h2>快速有效</h2>

        <p><a class="btn btn-default" href="" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-circle" src="../static/images/2.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
        <h2>知识变现</h2>

        <p><a class="btn btn-default" href="" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-circle" src="../static/images/3.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
        <h2>有效沟通</h2>

        <p><a class="btn btn-default" href="" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
    <!-- START THE FEATURETTES -->
    <section class="gray-flow">
      <div class="container">
        <div class="row">
        <div class="col-lg-7">
          <img src="../static/images/text1.png" style="border-right:1px white solid;margin-top:13%;"></div>
        <div class="col-lg-5">
        <img src="../static/images/02-computer2.png">
        </div>
        </div>
      </div>
    </section>
    <section class="white-flow">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
          <img src="../static/images/desk.jpg">
          </div>
        <div class="col-lg-7">
          <img src="../static/images/text2.png" style="margin-top:13%;"></div>
        </div>
        </div>
      </div>
    </section>
    <section class="gray-flow">
      <div class="container">
        <div class="row">
        <div class="col-lg-7"><img src="../static/images/text3.png" style="border-right:1px white solid;margin-top:11%;"></div>
        <div class="col-lg-5">
          <div style="position:relative;">
        <img src="../static/images/03-calendar.png" style="position:absolute;top:0;">
        <img src="../static/images/01-star.png" style="position:absolute;top:0;right:0;">
      </div>
        </div>
        </div>
      </div>
    </section>
    <section class="white-flow">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
          <img src="../static/images/skills-who.jpg">
          </div>
        <div class="col-lg-7"><img src="../static/images/text4.png" style="border-left:1px #f2f2f2 solid;margin-top:13%;"></div>

        </div>
      </div>
    </section>


    <!-- /END THE FEATURETTES -->


    <!-- FOOTER -->
    <footer>
      <div class="container">
        <div class="col-md-3 footer-itemborder">
          <h4>互联网+创业邀请赛</h4>
          <ul class="list-unstyled" style="text-align:center;">
            <li><a href="">加入我们</a></li>
            <li><a href="">关于我们</a></li>
            <li><a href="">意见反馈</a></li>
          </ul>
        </div>
        <div class="col-md-3 footer-itemborder">
          <h4>联系我们</h4>
          <address  style="text-align:center;">
  <a href="mailto:#">first.last@example.com</a>
</address>
        </div>
        <div class="col-md-3 footer-itemborder">
          <h4>合作伙伴</h4>
          <ul class="list-unstyled"  style="text-align:center;">
            <li><a href=""><img src="../static/images/aliyun.png"></a></li><br>
            <li><a href=""><img src="../static/images/tencent.png"></a></li><br>
            <li><a href=""><img src="../static/images/qiniu.png"></a></li><br>
          </ul>
        </div>
        <div class="col-md-3">
          <div>
          <p style="text-align:center;color:grey;">&copy; 2015 ikr&middot;Jilin University&middot;China.&nbsp;1.0&nbsp;&nbsp; <a href="/admin" class="pull-right">Dashboard</a>
          </div>
        </div>
      </div>
    </footer>




  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="../static/js/jquery-2.1.0.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/docs.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="../static/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
