<!DOCTYPE html>
<html lang="en" {% block ngapp %}{% end %}>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../static/favicon.ico">

  <title>约课</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  <!--{% block customCssLink %}{% end %}-->
  <link href="/static/css/blog.css" rel="stylesheet">
  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
  <script src="../static/js/ie-emulation-modes-warning.js"></script>
  <!--{% block customJSLink %}{% end %}-->
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <!-- Custom styles for this template -->
  <link href="../static/css/carousel.css" rel="stylesheet">
  <link href="../static/css/style.css" rel="stylesheet">
</head>
<!-- NAVBAR
================================================== -->
<body>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">

      <nav class="" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="../static/images/logo.png" alt="logo"></a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/">首页</a></li>
              <li class="active"><a href="/projects">约课</a></li>
              <li><a href="/articles">求课</a></li>
              <li><a href="/members">公益课</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">更多 <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/about">About</a></li>
                  <li><a href="/contact">Contact</a></li>
                </ul>
              </li>
            </ul>
            <form class="navbar-form navbar-left" role="search" method="GET" action="/search">
              <div class="input-group" style="max-width:200px;">
            <input type="text" class="form-control" placeholder="Search for..." name="keyword">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit">Go!</button>
            </span>
          </div><!-- /input-group -->
      </form>
            <div class="navbar-form navbar-right">
              <!--{% if not handler.signeduser %}-->
              <a href="/signin"><button type="button" class="btn btn-primary">Sign In</button></a>
              <a href="/signup"><button type="button" class="btn btn-success">Sign Up</button></a>
              <!--{% else %}
              <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav" style="margin:-8px 0;">
              <li class="dropdown active">

                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{{ handler.signavatar }}" class="img-circle" style="height:40px;width:40px;margin:-10px 6px -10px -6px;">{{ current_user }}<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu" style="min-width:145px;">
                  <li><a href="/members/m/{{ handler.signedid }}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Homepage</a></li>
                  <li><a href="/signout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Sign Out</a></li>
                </ul>
              </li>
            </ul>
          </div>
              {% end %}-->
            </div>
          </div>

        </div>
      </nav>

    </div>
  </div>

 <div class="container">
  <div class="margintopfixed">

  <div class="row">
    <div class="col-md-12" style="text-align:center;padding:0 200px;">
      <h3>鸡看到鸡蛋被拿走为什么不生气？</h3>
      <hr>
    <img src="../static/images/posterPage.png" class="img-rounded home-act-poster" >
    <p style="text-align:left;">要搞懂这个问题，你得先知道，鸡蛋其实是一个组合套装，里面除了卵子，还有蛋黄和蛋清——包含了卵子发育成破壳的小鸡所需的全套营养物质，外面还穿了蛋壳盔甲。

鸡蛋不是鸡的月经哦，亲。人类月经四个星期来一次，假如第二个星期是排卵，那第四个星期才是月经流血。类比到鸡，她下的鸡蛋是第二个星期的产物，不是月经。这只是类比，因为鸡是没有月经之说的。

好母鸡虽然整年都在下蛋，但大部分时间因为没机会跟公鸡交配，产下的都是未受精的蛋；但等母鸡和公鸡爱爱之后，下出来的就是受精蛋了，一般情况下，只有受精的鸡蛋才能孵化出小鸡。（说“一般”，是因为有特例，极少数情况下，卵子仅存的一条性染色体Z会自行复制为完整的雄性染色体ZZ，这样就能孵出小公鸡。）

但母鸡自己分不清蛋有没有受精，她只认数量，当窝里的鸡蛋达到她想要的数目时，她就会开始孵。蛋被拿走了，她只能不辞辛劳地补产，这种生物学习性叫做不定数产卵——对人来说，要让鸡继续下蛋，只要及时取走鸡蛋，维持窝内的蛋数不足的状态就可以了；但你不能全部拿完，得留一两个在里面，这叫“引窝蛋”，其实你放一块和鸡蛋形状接近的白石头骗母鸡，她也认可的——不得不说，会数数的母鸡实在太可爱了。

但站在母鸡的角度，你总是把她的蛋拿走，相当于在抢她的孩子，她何止是生气，简直把你恨得咬牙切齿，护蛋心切的母鸡，你敢动她的蛋，她也敢啄你的蛋。

而且你要知道，护蛋意识很强的母鸡就象抠门的财主，她只允许你往她窝里放东西进入——哪怕你放的是鸭蛋、鹌鹑蛋，她都会照单全收地孵；但她无法容忍你从里面取走东西——哪怕你取的是引窝用的石头。

所以有经验的人会趁着母鸡不在家的时候把她的蛋偷走，而有经验的母鸡会寸步不离地守着她的蛋。于是人鸡争蛋战上演了——人有棍棒扫帚，鸡有尖喙利爪。

人鸡争蛋战中，毕竟人强鸡弱，最终护蛋无功，蛋被抢了，有的母鸡会哀鸣不已，食欲不振，甚至有的母鸡伤心欲绝，会连续一两周不下蛋——也就是月经（叫日经更合适）紊乱了。

但也有的鸡坚强，会再接再厉，重新下蛋孵。而且有的江湖老鸡还学会了躲计划生育，偷偷跑去野外下受精蛋，二十多天不见，给你带回一窝小鸡来。对主人来说，这也算是意外的惊喜了。

这不是绝对的，一种米养百样鸡，有的鸡是鸡中的二溜子，自己下没下蛋都不知道，下完蛋就自己跑去玩儿，对蛋不管不顾，我们称之为“丢蛋鸡”。《爸爸去哪里》里面用作道具的鸡之所以不生气，最有可能的原因是，她是这种二溜子鸡。</p>
</div>
  </div><!-- /.row -->
</div>
</div>

    <!-- FOOTER -->
    <footer>
      <div class="container">
        <div class="col-md-3 footer-itemborder">
          <h4>互联网+创业邀请赛</h4>
          <ul class="list-unstyled" style="text-align:center;">
            <li><a href="">加入我们</a></li>
            <li><a href="">关于我们</a></li>
            <li><a href="">意见反馈</a></li>
          </ul>
        </div>
        <div class="col-md-3 footer-itemborder">
          <h4>联系我们</h4>
          <address  style="text-align:center;">
  <a href="mailto:#">first.last@example.com</a>
</address>
        </div>
        <div class="col-md-3 footer-itemborder">
          <h4>合作伙伴</h4>
          <ul class="list-unstyled"  style="text-align:center;">
            <li><a href=""><img src="../static/images/aliyun.png"></a></li><br>
            <li><a href=""><img src="../static/images/tencent.png"></a></li><br>
            <li><a href=""><img src="../static/images/qiniu.png"></a></li><br>
          </ul>
        </div>
        <div class="col-md-3">

          <div>
          <p style="text-align:center;color:grey;">&copy; 2015 ikr&middot;Jilin University&middot;China.&nbsp;1.0&nbsp;&nbsp; <a href="/admin" class="pull-right">Dashboard</a>
          </div>
        </div>
      </div>
    </footer>



  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="../static/js/jquery-2.1.0.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/docs.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="../static/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
