<!DOCTYPE html>
<html lang="en" {% block ngapp %}{% end %}>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../static/favicon.ico">

  <title>约课</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  <!--{% block customCssLink %}{% end %}-->
  <link href="/static/css/blog.css" rel="stylesheet">
  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
  <script src="../static/js/ie-emulation-modes-warning.js"></script>
  <!--{% block customJSLink %}{% end %}-->
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <!-- Custom styles for this template -->
  <link href="../static/css/carousel.css" rel="stylesheet">
  <link href="../static/css/style.css" rel="stylesheet">
</head>
<!-- NAVBAR
================================================== -->
<body>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">

      <nav class="" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="../static/images/logo.png" alt="logo"></a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/">首页</a></li>
              <li class="active"><a href="/projects">约课</a></li>
              <li><a href="/articles">求课</a></li>
              <li><a href="/members">公益课</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">更多 <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/about">About</a></li>
                  <li><a href="/contact">Contact</a></li>
                </ul>
              </li>
            </ul>
            <form class="navbar-form navbar-left" role="search" method="GET" action="/search">
              <div class="input-group" style="max-width:200px;">
            <input type="text" class="form-control" placeholder="Search for..." name="keyword">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit">Go!</button>
            </span>
          </div><!-- /input-group -->
      </form>
            <div class="navbar-form navbar-right">
              <!--{% if not handler.signeduser %}-->
              <a href="/signin"><button type="button" class="btn btn-primary">Sign In</button></a>
              <a href="/signup"><button type="button" class="btn btn-success">Sign Up</button></a>
              <!--{% else %}
              <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav" style="margin:-8px 0;">
              <li class="dropdown active">

                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{{ handler.signavatar }}" class="img-circle" style="height:40px;width:40px;margin:-10px 6px -10px -6px;">{{ current_user }}<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu" style="min-width:145px;">
                  <li><a href="/members/m/{{ handler.signedid }}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Homepage</a></li>
                  <li><a href="/signout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Sign Out</a></li>
                </ul>
              </li>
            </ul>
          </div>
              {% end %}-->
            </div>
          </div>

        </div>
      </nav>

    </div>
  </div>

 <div class="container">
  <div class="margintopfixed">

  <div class="row">

    <div class="col-sm-8 blog-main">
      <h4>最近动态</h4>
      <hr/>
      <div class="blog-post">
        <div class="row">
        <div class="col-sm-3">
          <div class="home-yueke-center">
            <img src="../static/images/teacher.jpg" class="img-circle home-yueke-avatar">
            <h4>Hans Zimmer</h4>
            <button type="button" class="btn btn-primary">约课</button>
          </div>
        </div>
      <div class="col-sm-9">
        <h4><a href="#">Hans Zimmer's Music Class</a></h4>
        <p>2015年5月1日 20:00</p>
        <p>我的丰功伟绩，值得浇铸于青铜器上，铭刻于大理石上，镌于木板上，永世长存，等我的这些事迹在世上流传之时，幸福之年代和幸福之世纪亦即到来<a href="/projects/p/{{ page.pid }}">&nbsp;&nbsp;Show all...</a></p>
        <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"> 经信教学楼</span></p>
      </div>
    </div>
      </div><!-- /.blog-post -->
      <hr>
      <div class="blog-post">
        <div class="row">
        <div class="col-sm-3">
          <div class="home-yueke-center">
            <img src="../static/images/teacher.jpg" class="img-circle home-yueke-avatar">
            <h4>Hans Zimmer</h4>
            <button type="button" class="btn btn-primary">约课</button>
          </div>
        </div>
      <div class="col-sm-9">
        <h4><a href="#">Hans Zimmer's Music Class</a></h4>
        <p>2015年5月1日 20:00</p>
        <p>我的丰功伟绩，值得浇铸于青铜器上，铭刻于大理石上，镌于木板上，永世长存，等我的这些事迹在世上流传之时，幸福之年代和幸福之世纪亦即到来<a href="/projects/p/{{ page.pid }}">&nbsp;&nbsp;Show all...</a></p>
        <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"> 经信教学楼</span></p>
      </div>
    </div>
      </div><!-- /.blog-post -->
      <hr><div class="blog-post">
        <div class="row">
        <div class="col-sm-3">
          <div class="home-yueke-center">
            <img src="../static/images/teacher.jpg" class="img-circle home-yueke-avatar">
            <h4>Hans Zimmer</h4>
            <button type="button" class="btn btn-primary">约课</button>
          </div>
        </div>
      <div class="col-sm-9">
        <h4><a href="#">Hans Zimmer's Music Class</a></h4>
        <p>2015年5月1日 20:00</p>
        <p>我的丰功伟绩，值得浇铸于青铜器上，铭刻于大理石上，镌于木板上，永世长存，等我的这些事迹在世上流传之时，幸福之年代和幸福之世纪亦即到来<a href="/projects/p/{{ page.pid }}">&nbsp;&nbsp;Show all...</a></p>
        <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"> 经信教学楼</span></p>
      </div>
    </div>
      </div><!-- /.blog-post -->
      <hr><div class="blog-post">
        <div class="row">
        <div class="col-sm-3">
          <div class="home-yueke-center">
            <img src="../static/images/teacher.jpg" class="img-circle home-yueke-avatar">
            <h4>Hans Zimmer</h4>
            <button type="button" class="btn btn-primary">约课</button>
          </div>
        </div>
      <div class="col-sm-9">
        <h4><a href="#">Hans Zimmer's Music Class</a></h4>
        <p>2015年5月1日 20:00</p>
        <p>我的丰功伟绩，值得浇铸于青铜器上，铭刻于大理石上，镌于木板上，永世长存，等我的这些事迹在世上流传之时，幸福之年代和幸福之世纪亦即到来<a href="/projects/p/{{ page.pid }}">&nbsp;&nbsp;Show all...</a></p>
        <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"> 经信教学楼</span></p>
      </div>
    </div>
      </div><!-- /.blog-post -->
      <hr><div class="blog-post">
        <div class="row">
        <div class="col-sm-3">
          <div class="home-yueke-center">
            <img src="../static/images/teacher.jpg" class="img-circle home-yueke-avatar">
            <h4>Hans Zimmer</h4>
            <button type="button" class="btn btn-primary">约课</button>
          </div>
        </div>
      <div class="col-sm-9">
        <h4><a href="#">Hans Zimmer's Music Class</a></h4>
        <p>2015年5月1日 20:00</p>
        <p>我的丰功伟绩，值得浇铸于青铜器上，铭刻于大理石上，镌于木板上，永世长存，等我的这些事迹在世上流传之时，幸福之年代和幸福之世纪亦即到来<a href="/projects/p/{{ page.pid }}">&nbsp;&nbsp;Show all...</a></p>
        <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"> 经信教学楼</span></p>
      </div>
    </div>
      </div><!-- /.blog-post -->
      <hr>

      <button type="button" class="btn btn-default btn-lg btn-block home-more-button">更多..</button>
    </div><!-- /.blog-main -->

    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
      <div class="sidebar-module sidebar-module-inset">
        <div class="home-banner">
        <a href="#"><img src="../static/images/poster.png" style="height:250px;width:250px;"></a>
      </div>
        <h4><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>&nbsp;&nbsp;公告</h4>
        <div class="well">
          <p><strong>这是一条通知</strong></p>
          <p>That's play together</p>
      </div>

      </div>
      <div class="sidebar-module">
        <h4><span class="glyphicon glyphicon-link" aria-hidden="true"></span>&nbsp;&nbsp;友情链接</h4>
        <ol class="list-unstyled">
          <li>&nbsp;&nbsp;&nbsp;<a href="http://www.github.com" alt="">Github</a></li>
          <li>&nbsp;&nbsp;&nbsp;<a href="http://www.behance.net" alt="">Behance</a></li>
          <li>&nbsp;&nbsp;&nbsp;<a href="http://www.dribbble.com" alt="">Dribbble</a></li>
        </ol>
      </div>
      <div class="home-banner">
      <a href="#"><img src="../static/images/poster2.png" style="height:250px;width:250px;"></a>
    </div>
    </div><!-- /.blog-sidebar -->

  </div><!-- /.row -->
</div>
</div>

    <!-- FOOTER -->
    <footer>
      <div class="container">
        <div class="col-md-3 footer-itemborder">
          <h4>互联网+创业邀请赛</h4>
          <ul class="list-unstyled" style="text-align:center;">
            <li><a href="">加入我们</a></li>
            <li><a href="">关于我们</a></li>
            <li><a href="">意见反馈</a></li>
          </ul>
        </div>
        <div class="col-md-3 footer-itemborder">
          <h4>联系我们</h4>
          <address  style="text-align:center;">
  <a href="mailto:#">first.last@example.com</a>
</address>
        </div>
        <div class="col-md-3 footer-itemborder">
          <h4>合作伙伴</h4>
          <ul class="list-unstyled"  style="text-align:center;">
            <li><a href=""><img src="../static/images/aliyun.png"></a></li><br>
            <li><a href=""><img src="../static/images/tencent.png"></a></li><br>
            <li><a href=""><img src="../static/images/qiniu.png"></a></li><br>
          </ul>
        </div>
        <div class="col-md-3">

          <div>
          <p style="text-align:center;color:grey;">&copy; 2015 ikr&middot;Jilin University&middot;China.&nbsp;1.0&nbsp;&nbsp; <a href="/admin" class="pull-right">Dashboard</a>
          </div>
        </div>
      </div>
    </footer>



  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="../static/js/jquery-2.1.0.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/docs.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="../static/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
