<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../static/favicon.ico">

  <title>Signup</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/css/signin.css" rel="stylesheet">
  <link href="../static/css/style.css" rel="stylesheet">
  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
  <script src="../static/js/ie-emulation-modes-warning.js"></script>
  <script src="../static/js/sign_back.js"></script>
  <script src="../static/js/signin.js"></script>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body style="background-image:url('../static/images/back.jpg');">
  <div class="container" style="position:absolute;left:9%;">
<div class="ab">
    <div class="signcontainer">
      <form class="form-signup" role="form" action="/account/signup" method="POST">
        <h2 class="form-signin-heading">Please sign up</h2>
        <input type="input" class="form-control" placeholder="Username" name="username" required autofocus>
        <input type="password" class="form-control" placeholder="Password" name="password" required>
        <input type="password" class="form-control" placeholder="Password Validate" name="passvali" required>
        <input type="email" class="form-control" placeholder="Email" name="email" required>
        <input type="phone" class="form-control" placeholder="Phone" name="phone" required>
        {{ form.csrf_token }}
        {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
        {% endwith %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
      </form>
  </div>
</div>
</div>

  </div> <!-- /container -->


  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="../static/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
